<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheBoyKnowsClass.AudioTools.SyncLibraryService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="TheBoyKnowsClass.AudioTools.SyncLibraryService.SyncLibraryServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="TheBoyKnowsClass.AudioTools.SyncLibraryService.SyncLibraryService" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheBoyKnowsClass.AudioTools.SyncLibraryService.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>\\gateway.intranet.theboyknowsclass.com\Audio\Music\FLAC</value>
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value>\\gateway.intranet.theboyknowsclass.com\Audio\Music\MP3</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="TaskDelay" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="StartTimeHasValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndTimeHasValue" serializeAs="String">
                <value>False</value>
            </setting>
        </TheBoyKnowsClass.AudioTools.SyncLibraryService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
